*{
    margin: auto;
    padding: auto;
    /* background-color:burlywood; */
}
body{
    background-color: #FFE4E1;
}
.quiz-home-box{
    border: 3px solid lime;
    height: 450px;
    width: 620px;
    /* margin-left:; */
    padding: 5%;
    background-color: rgb(241, 92, 72);
    position: relative;
    background-image: linear-gradient(skyblue,tomato,lightpink);
}
#testbook{
    align-items: center;
    display: flex;
    border: 2px solid gray;
    border-radius: 30px;
    background-color: aliceblue;
    height: 100px;
}
.quiz-home-box h1{
    color: #2DF0E1;
    text-align: center;
    font-size: 35px;
 
}
.quiz-home-box span{
     color: #2DF0E1;
     font-size: 45px;
     font-weight: 600;
     position: relative;
     margin-left: 25%;
     padding: 0;
}
.quiz-home-box h3{
    color: green;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#h3{
    color: aliceblue;
    font-size: 20px;
    opacity: .30;
    border-bottom: 1px solid aliceblue ;
    padding:2%;
    
    
}
.quiz-home-box input{
    margin-left: 30px;
    border: 2px solid blue;
    width: 400px;
    height: 35px;
    border-radius: 10px;
}
.quiz-home-box button{
    border-color: wheat;
    width: 100px;
    height: 40px;
    border-radius: 10px;

}
.quiz-home-box button:hover{
    background-color: lightgreen;
    border: 2px solid yellow;
    text-decoration-line: underline;
    font-weight: bold;
}

/* category box */

h1{
    color:#2DF0E1;
    text-align: center;
    font-size: 40px;
    
}
 .catergory-Box button{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 270px;
    height: 50px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;

  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(2px);
  }
  .quiz-box{
    border: 3px solid tomato;
    height: 500px;
    width: 705px;
  }
  .quiz-box #pipes{
    height: 30px;
    width: 300px;
    margin-top: 20px;
    background-color:lightgreen;
    color: rgb(79, 137, 189);
    font-weight: 600;
    text-align: center;
    outline: none;
    border-radius: 10px;
  }

  /* timer start form here */

  .quiz-box{
    background-color: tomato;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2 );
    min-height: 500px;
    width: 640px;
    padding: 50px;
  }
.quiz-time{
    border: 2px solid #2DF0E1;
    position: relative;
    width: 80px;
    height: 30x;
    font-size: 25px;
     float: right;   
    padding: 5px 10px ;
    margin-left: -45%;
}

/* timer css  */


.per-question-timer{
   position: relative;
    float: right;
    height: 15px;
    display: inline-flex;
    font-size: 30px;
    justify-content: end;
    
}
#name{
    
    margin-left: 10px;
    padding: 2px;
    font-size: 15px;
    font-weight: 800;
    opacity: .5;
}
.quiz-box img{
    border: 2px solid aqua;
    border-radius: 20px;
    align-items: center;
    display: flex;
    position: relative;
    width: 250px;
}
.remaining-time {
    background-color: #666;
    color:  #2DF0E1;
}
.remaining-time span{
    background-color: #666;
}
/* score borad  css */



.score-board{
    position: relative;
    background-color: pink;
    float: right;
    margin-right: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    height: 35px;
    width: 100px;
    padding-bottom: 1px;
    font-size: 25px;
    text-align: center;
}

.time-up-text{
    position: relative ;
    background-color: green;
    color: whitesmoke;
    font-size: 25px;
    border-radius: 20%;
}
 /* question box ki css */
 .question-box{
    background-color: blueviolet;
    border: 2px solid lime;
    color: aliceblue;
    border-radius: 10px;
    height: 40px;
    padding: 10px 15px;
 }
 .option-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 10px;
}
.option-box span{
    background-color: burlywood;
    border-radius: 5px;
    color: blue;
    border: 1px solid #444;
    height: 30px    ;
    padding: 1px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    width: 200px;
}

/* button */
.next-question-btn,
.see-result-btn{
    background: slateblue;
    color: #2DF0E1;
    border: 2px solid limegreen;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    justify-content: space-between;
}
.see-result-btn{
    float: right;
}    


/* result page */
.quiz-over-box{
    height: 500px;
    width: 500px;
    border: 2px solid blue;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-row-gap:x; */
    font-size: 20px;
}
.quiz-over-box*:nth-child(odd){
    text-align: right;
    
}
button{
    border-top: 2px solid gray;
    padding-top: 20px;
    text-align: center;
    justify-content: space-between;
}